<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>946995158160-am9octp8a7dtanhj6bc21obos0m2rq4a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.946995158160-am9octp8a7dtanhj6bc21obos0m2rq4a</string>
	<key>API_KEY</key>
	<string>AIzaSyBMo1TKy8PBXOtw1AiW6Xs_P11M58zSCrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>946995158160</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ddsa.MyStreet</string>
	<key>PROJECT_ID</key>
	<string>mystreet-94914</string>
	<key>STORAGE_BUCKET</key>
	<string>mystreet-94914.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:946995158160:ios:73317fb2515b2d4e240c15</string>
</dict>
</plist>